* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    flex-wrap: wrap;
    background-color: #d9dcd6;
}
 
/* Added main instead of .contents and added flexbox for better device viewing */
main {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Removed . from .header because it is no longer a class, it's an element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Removed header because it is not needed and added '' around Calibri */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removed header because it is not needed */
nav ul {
    list-style-type: none;
}

/* Removed header because it is not needed */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Removed .contents and moved CSS to main tag above */

/* Changed from .benefits to aside and fixed "Calibri' */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated for repeated CSS */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated for repeated CSS */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated for repeated CSS */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated for repeated CSS */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated for repeated CSS */
main section img {
    max-height: 200px;
}

/* Consolidated for repeated CSS */
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Removed . from .footer because it is no longer a class, it's an element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Removed . from .footer */
footer h2 {
    font-size: 20px;
}
